<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIỚI THIỆU NGÀNH CÔNG NGHỆ THÔNG TIN</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Load custom Javascript and CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/table.js"></script>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
<div class="content-detail">
    <h4>GIỚI THIỆU NGÀNH CÔNG NGHỆ THÔNG TIN</h4>
    <div class="main-content">
        <p>
</p><p>+ Về cơ bản, các chuyên gia công nghệ thông tin là những người sử dụng công nghệ: các hệ điều hành, phần mềm và ứng dụng có cùng nhau để tạo ra một hệ thống lớn hơn giải quyết một vấn đề cụ thể.Công nghệ thông tin xây dựng một mạng lưới từ các khối đã được thiết lập để thực hiện một nhiệm vụ, như dịch vụ đặt hàng nguồn cung cấp tự động.</p>
<p style="text-align: justify; line-height: normal; background: white; margin: 6.0pt 0cm .0001pt 0cm;">+ Do tính chất của công việc, các chuyên gia công nghệ thông tin có xu hướng tương tác với khách hàng và đồng nghiệp bên ngoài phòng ban của họ. Họ có thể giải thích cho khách hàng cách giải quyết các vấn đề công nghệ hoặc làm việc với chủ doanh nghiệp để xây dựng kế hoạch công nghệ đáp ứng nhu cầu kinh doanh của họ.</p>
<p style="text-align: justify; line-height: normal; background: white; margin: 6.0pt 0cm .0001pt 0cm;">+ Sinh viên công nghệ thông tin sẽ nghiên cứu mạng và thiết kế cơ sở dữ liệu theo chiều sâu, và thu nhận các lý thuyết toán cơ bản và toán cao cấp.&nbsp;</p>                                                                            <p></p>
    </div>
</div>