<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIỚI THIỆU NGÀNH HỆ THỐNG THÔNG TIN</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Load custom Javascript and CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/table.js"></script>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
<div class="content-detail">
    <h4>GIỚI THIỆU NGÀNH HỆ THỐNG THÔNG TIN</h4>
    <div class="main-content">
        <p>
</p><div class="wrapper">
<div id="main">
<div class="yui-ge">
<div class="yui-r">
<div id="homepage-region-right">
<div class="ceebox">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal; tab-stops: 18.0pt;"><strong><span style="font-family: 'Times New Roman';"> <br></span></strong></p>
<table style="width: 100%; margin-left: -4.5pt; border-collapse: collapse; border: none;" >
<tbody>
<tr>
<td style="width: 100%; border: solid windowtext 1.0pt; background: silver; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="4" >
<p style="margin-bottom: .0001pt; text-align: center; text-indent: 1.45pt; line-height: normal;"><strong><span style="font-family: 'Times New Roman';">1. Thông tin chung</span></strong></p>
</td>
</tr>
<tr>
<td style="text-align: center;border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">1.1</span></p>
</td>
<td style="width: 135.9pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="2" >
<p style="text-indent: .45pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">Tên chương trình </span></p>
</td>
<td style="width: 330.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-indent: 1.7pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">HỆ THỐNG THÔNG TIN</span></p>
</td>
</tr>
<tr>
<td style="text-align: center;border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">1.2</span></p>
</td>
<td style="width: 135.9pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="2" >
<p style="text-indent: .45pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">Trình độ đào tạo</span></p>
</td>
<td style="width: 330.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-indent: 1.7pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">Đại học chính quy</span></p>
</td>
</tr>
<tr>
<td style="text-align: center;border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">1.3</span></p>
</td>
<td style="width: 135.9pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="2" >
<p style="text-indent: .45pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">Thời gian đào tạo</span></p>
</td>
<td style="width: 330.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-indent: 1.7pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">4 năm </span></p>
</td>
</tr>
<tr>
<td style="text-align: center;border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">1.4</span></p>
</td>
<td style="width: 135.9pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="2" >
<p style="text-indent: .45pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">Tổng số tín chỉ</span></p>
</td>
<td style="width: 330.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-indent: 1.7pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">142 tín chỉ (Lý thuyết: 93 tín chỉ; Thực hành, thực tế: 49 tín chỉ)</span></p>
</td>
</tr>
<tr>
<td style="text-align: center;border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">1.5</span></p>
</td>
<td style="width: 135.9pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="2" >
<p style="text-indent: .45pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">Đơn vị quản lý</span></p>
</td>
<td style="width: 330.15pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-indent: 1.7pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">Khoa Công nghệ thông tin</span></p>
</td>
</tr>
<tr>
<td style="width: 100%; border: solid windowtext 1.0pt; border-top: none; background: silver; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="4" >
<p style="margin-top: 0cm; text-align: center;"><span style="font-size: 11.0pt;">2. Mục tiêu tổng quát</span></p>
</td>
</tr>
<tr>
<td style="width: 100%; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="4" >
<p style="margin-bottom: 6.0pt; text-indent: 0cm; tab-stops: 36.0pt;"><span style="font-size: 11.0pt; color: black;">Chương trình đào tạo chuyên ngành HTTT được xây dựng và triển khai nhằm mục tiêu đào tạo nguồn nhân lực công nghệ thông tin có phẩm chất đạo đức tốt, có kiến thức, tư duy, phương pháp làm việc và kỹ năng thích hợp để làm việc trong lĩnh vực HTTT, nắm vững kiến thức cơ bản và chuyên sâu về HTTT, đáp ứng các yêu cầu về nghiên cứu, phát triển các ứng dụng CNTT trong xã hội.</span></p>
</td>
</tr>
<tr>
<td style="width: 100%; border: solid windowtext 1.0pt; border-top: none; background: silver; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="4" >
<p style="margin-top: 0cm; text-align: center;"><span style="font-size: 11.0pt;">3. Mục tiêu cụ thể</span></p>
</td>
</tr>
<tr>
<td style="text-align: center;border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">3.1</span></p>
</td>
<td style="width: 466.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="3" >
<p style="margin-bottom: 6.0pt; text-indent: 0cm; tab-stops: 49.65pt;"><span style="font-size: 11.0pt; color: black;">Trang bị kiến thức cơ sở ngành về CNTT và truyền thông như: kiến thức toán, tư duy logic về lập trình, cơ sở dữ liệu, kiến trúc máy tính, hệ điều hành, mạng máy tính làm nền tảng triển khai các ứng dụng HTTT tạo tiền đề cho nghiên cứu các lĩnh vực chuyên ngành và học tập nâng cao. </span></p>
</td>
</tr>
<tr>
<td style="text-align: center;border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">3.2</span></p>
</td>
<td style="width: 466.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="3" >
<p style="margin-bottom: 6.0pt; text-indent: 0cm; tab-stops: 49.65pt;"><span style="font-size: 11.0pt; color: black;">Cung cấp kiến thức chuyên ngành để sinh viên có đủ khả năng thiết kế, xây dựng, vận hành, bảo trì và phát triển hệ thống thông tin trong việc quản lý kinh tế, hành chính và dịch vụ. Thiết kế xây dựng và triển khai hệ quản trị cơ sở dữ liệu, các HTTT trực tuyến trên web. Tổ chức thu thập, khai thác dữ liệu phục vụ các hoạt động quản lý, sản xuất, kinh doanh.</span></p>
</td>
</tr>
<tr>
<td style="text-align: center;border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">3.3</span></p>
</td>
<td style="width: 466.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="3" >
<p style="margin-bottom: 6.0pt; text-indent: 0cm; tab-stops: 49.65pt;"><span style="font-size: 11.0pt; color: black;">Có khả năng tổng hợp,đánh giá, phân tích vấn đề thuộc kiến thức ngành nghề, có khả năng trình bày và viết các báo cáo rõ ràng, chính xác. Có khả năng sử dụng hiệu quả các công cụ và phương tiện hiện đại. Nắm vững kiến thức về xây dựng và quản trị một hệ thống mạng và phát triển các ứng dụng trên nền tảng mạng; phát triển các ứng dụng tin học trong hoạt động của các tổ chức kinh tế xã hội. </span></p>
</td>
</tr>
<tr>
<td style="text-align: center;border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">3.4</span></p>
</td>
<td style="width: 466.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="3" >
<p style="margin-bottom: 6.0pt; text-indent: 0cm; tab-stops: 49.65pt;"><span style="font-size: 11.0pt; color: black;">Có khả năng giao tiếp xã hội, làm việc hiệu quả trong nhóm. Có khả năng sử dụng các phương tiện trong lĩnh vực công nghệ thông tin và truyền thông để trao đổi, quản lý, điều hành. Có khả năng tự học, tự nghiên cứu và tiếp thu các thành tựu khoa học kỹ thuật nhằm tự nâng cao trình độ và thích nghi với sự phát triển của xã hội.</span></p>
</td>
</tr>
<tr>
<td style="width: 100%; border: solid windowtext 1.0pt; border-top: none; background: silver; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="4" >
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span style="font-family: 'Times New Roman'; color: black;">4. </span></strong><strong><span style="font-family: 'Times New Roman';">Năng lực của sinh viên tốt nghiệp ngành Hệ thống thông tin</span></strong></p>
</td>
</tr>
<tr style="height: 27.35pt;">
<td style="text-align: center;border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 27.35pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">4.1</span></p>
</td>
<td style="width: 68.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 27.35pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">Về kiến thức</span></p>
</td>
<td style="width: 398.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 27.35pt;" colspan="2" >
<p style="text-align: justify; text-indent: -14.4pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.5pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Có hiểu biết về các nguyên lý cơ bản của chủ nghĩa Mác – Lênin, đường lối cách mạng của Đảng Cộng sản Việt Nam, Tư tưởng Hồ Chí Minh.</span></p>
<p style="text-align: justify; text-indent: -14.4pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.5pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Có kiến thức cơ bản trong lĩnh vực khoa học xã hội và khoa học tự nhiên để tiếp thu kiến thức giáo dục chuyên nghiệp và khả năng học tập nâng cao trình độ.<a name="_Toc351471377"></a></span></p>
<p style="text-align: justify; text-indent: -14.4pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.5pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Trang bị kiến thức cơ sở ngành về CNTT và truyền thông: kiến thức toán, tư duy logic về lập trình, cơ sở dữ liệu, kiến trúc máy tính, hệ điều hành, trí tuệ nhân tạo, mạng máy tính, công nghệ phần mềm làm&nbsp;&nbsp;nền tảng triển khai các ứng dụng HTTT, tạo tiền đề cho nghiên cứu các lĩnh vực chuyên ngành và học tập nâng cao.</span></p>
<p style="text-align: justify; text-indent: -14.4pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.5pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Thiết kế, xây dựng, vận hành, bảo trì và phát triển HTTT trong quản lý kinh tế, hành chính, dịch vụ. Sử dụng thành thạo các hệ thống CSDL thông dụng.</span></p>
<p style="text-align: justify; text-indent: -14.4pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.5pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Thiết kế xây dựng và triển khai hệ quản trị cơ sở dữ liệu, các HTTT trực tuyến trên web. Tổ chức thu thập, khai thác dữ liệu phục vụ các hoạt động quản lý, sản xuất, kinh doanh.</span></p>
<p style="text-align: justify; text-indent: -14.4pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.5pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Có nhận thức đúng đắn về trách nhiệm, nghĩa vụ của cán bộ quản lý HTTT.</span></p>
<p style="text-align: justify; text-indent: -14.4pt; line-height: normal; margin: 2.0pt 0cm 6.0pt 20.15pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Có kiến thức tốt về an toàn và bảo mật HTTT, mạng máy tính.</span></p>
</td>
</tr>
<tr style="height: 50.95pt;">
<td style="text-align: center;border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 50.95pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">4.2</span></p>
</td>
<td style="width: 68.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 50.95pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">Về kỹ năng</span></p>
</td>
<td style="width: 398.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 50.95pt;" colspan="2" >
<p style="margin-left: 0cm; text-indent: 0cm;"><a name="_Toc351471383"></a>Kỹ năng cứng:</p>
<p style="text-align: justify; text-indent: -14.4pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.5pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Có khả năng lập trình ứng dụng khai thác các hệ quản trị cơ sở dữ liệu.</span></p>
<p style="text-align: justify; text-indent: -14.4pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.5pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Có khả năng phân tích và thiết kế HTTT bảo đảm an toàn.</span></p>
<p style="text-align: justify; text-indent: -14.4pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.5pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Có khả năng vận dụng các kiến thức, kỹ năng và kinh nghiệm để giải quyết các tình huống trong lĩnh vực CNTT nói chung, HTTT nói riêng.</span></p>
<p style="margin-left: 0cm; text-indent: 0cm;">Kỹ năng mềm:</p>
<p style="text-align: justify; text-indent: -14.4pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.15pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Có</span><span style="font-family: 'Times New Roman';"> khả năng giao tiếp xã hội, làm việc hiệu quả trong nhóm.</span></p>
<p style="text-align: justify; text-indent: -14.4pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.15pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Có khả năng sử dụng các phương tiện trong lĩnh vực CNTT và truyền thông để trao đổi, quản lý, điều hành.</span></p>
<p style="text-align: justify; text-indent: -14.4pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.15pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Có khả năng tự học, tự nghiên cứu và tiếp thu các thành tựu khoa học kỹ thuật nhằm tự nâng cao trình độ, thích nghi với sự phát triển của xã hội.</span></p>
<p style="text-align: justify; text-indent: -14.4pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.15pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Sử dụng tiếng Anh hiệu quả trong công việc, trình độ tương đương <br> TOEIC từ 450 điểm trở lên.</span></p>
</td>
</tr>
<tr style="height: 27.35pt;">
<td style="text-align: center;border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 27.35pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">4.3</span></p>
</td>
<td style="width: 68.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 27.35pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">Đạo đức nghề nghiệp</span></p>
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">&nbsp;</span></p>
</td>
<td style="width: 398.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 27.35pt;" colspan="2" >
<p style="text-align: justify; text-indent: -14.4pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.15pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Có đạo đức nghề nghiệp, ý thức tổ chức kỷ luật lao động và tôn trọng nội quy của cơ quan, doanh nghiệp.</span></p>
<p style="text-align: justify; text-indent: -14.4pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.5pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Ý thức cộng đồng và tác phong công nghiệp, trách nhiệm công dân, làm việc theo nhóm và làm việc độc lập.</span></p>
<p style="text-align: justify; text-indent: -14.4pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.5pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Có tinh thần cầu tiến, hợp tác và giúp đỡ đồng nghiệp.</span></p>
</td>
</tr>
<tr style="height: 17.2pt;">
<td style="width: 100%; border: solid windowtext 1.0pt; border-top: none; background: silver; padding: 0cm 5.4pt 0cm 5.4pt; height: 17.2pt;" colspan="4" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><strong><span style="font-family: 'Times New Roman';">5. Các công việc/vị trí tiềm năng mà kỹ sư hệ thống thông tin có thể đảm nhận</span></strong></p>
</td>
</tr>
<tr style="height: 17.65pt;">
<td style="text-align: center;border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 17.65pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">5.1</span></p>
</td>
<td style="width: 466.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 17.65pt;" colspan="3" >
<p style="text-align: left; text-indent: 0cm; margin: 3.0pt 0cm 3.0pt 0cm;"><a name="_Toc351471387"></a><span style="font-size: 11.0pt;">Tư vấn, lập kế hoạch, xây dựng và triển khai các dự án HTTT của các cơ quan, nhà máy, trường học, ngân hàng… các doanh nghiệp có ứng dụng CNTT.</span></p>
</td>
</tr>
<tr style="height: 16.8pt;">
<td style="text-align: center;border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 16.8pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">5.2</span></p>
</td>
<td style="width: 466.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 16.8pt;" colspan="3" >
<p style="text-align: left; text-indent: 0cm; margin: 3.0pt 0cm 3.0pt 0cm;"><a name="_Toc351471388"></a><span style="font-size: 11.0pt;">Các công ty phần mềm: phát triển phần mềm, thiết kế website</span><span style="font-size: 11.0pt;">.</span></p>
</td>
</tr>
<tr style="height: 16.8pt;">
<td style="text-align: center;border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 16.8pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">5.3</span></p>
</td>
<td style="width: 466.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 16.8pt;" colspan="3" >
<p style="text-align: left; text-indent: 0cm; margin: 3.0pt 0cm 3.0pt 0cm;"><a name="_Toc351471389"></a><span style="font-size: 11.0pt;">Các công ty tư vấn: tư vấn thiết kế các giải pháp về mạng, các giải pháp CNTT cho doanh nghiệp.</span></p>
</td>
</tr>
<tr style="height: 16.8pt;">
<td style="text-align: center;border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 16.8pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">5.4</span></p>
</td>
<td style="width: 466.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 16.8pt;" colspan="3" >
<p style="text-align: left; text-indent: 0cm; margin: 3.0pt 0cm 3.0pt 0cm;"><a name="_Toc351471390"></a><span style="font-size: 11.0pt;">Các công ty phân phối và bảo trì các thiết bị máy tính.</span></p>
</td>
</tr>
<tr>
<td style="border: none;" >&nbsp;</td>
<td style="border: none;" >&nbsp;</td>
<td style="border: none;" >&nbsp;</td>
<td style="border: none;" >&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
</div>
</div>
</div>
</div>
</div>
</div>                                                                            <p></p>
    </div>
</div>