<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIỚI THIỆU NGÀNH KHOA HỌC MÁY TÍNH</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Load custom Javascript and CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/table.js"></script>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
<div class="content-detail">
    <center><h4>GIỚI THIỆU NGÀNH KHOA HỌC MÁY TÍNH</h4></center>
    <div class="main-content">
        <p>
</p><p style="text-align: center; line-height: normal; margin: 12.0pt 0cm 12.0pt 0cm;"><strong><span style="font-family: 'Times New Roman';">&nbsp;</span></strong></p>
<table style="width: 100%; margin-left: -4.5pt; border-collapse: collapse; border: none;" >
<tbody>
<tr>
<td style="width: 100%; border: solid windowtext 1.0pt; background: silver; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="4" >
<p style="margin-bottom: .0001pt; text-align: center; text-indent: 1.45pt; line-height: normal;"><strong><span style="font-size: 12.0pt; font-family: 'Times New Roman';">1. Thông tin chung</span></strong></p>
</td>
</tr>
<tr>
<td style="text-align: center; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">1.1</span></p>
</td>
<td style=" border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="2" >
<p style="text-indent: .45pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">Tên chương trình </span></p>
</td>
<td style=" border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-indent: 1.7pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">KHOA HỌC MÁY TÍNH</span></p>
</td>
</tr>
<tr>
<td style=" text-align: center;border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">1.2</span></p>
</td>
<td style=" border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="2" >
<p style="text-indent: .45pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">Trình độ đào tạo</span></p>
</td>
<td style=" border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-indent: 1.7pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">Đại học chính quy</span></p>
</td>
</tr>
<tr>
<td style=" text-align: center;border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">1.3</span></p>
</td>
<td style=" border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="2" >
<p style="text-indent: .45pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">Thời gian đào tạo</span></p>
</td>
<td style=" border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-indent: 1.7pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">4 năm </span></p>
</td>
</tr>
<tr>
<td style=" text-align: center;border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">1.4</span></p>
</td>
<td style=" border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="2" >
<p style="text-indent: .45pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">Tổng số tín chỉ</span></p>
</td>
<td style=" border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-indent: 1.7pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">142 tín chỉ (Lý thuyết: 93 tín chỉ; Thực hành, thực tế: 49 tín chỉ)</span></p>
</td>
</tr>
<tr>
<td style=" text-align: center;border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">1.5</span></p>
</td>
<td style=" border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="2" >
<p style="text-indent: .45pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">Đơn vị quản lý</span></p>
</td>
<td style=" border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-indent: 1.7pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">Khoa Công nghệ thông tin</span></p>
</td>
</tr>
<tr>
<td style="width: 100%; border: solid windowtext 1.0pt; border-top: none; background: silver; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="4" >
<p style="margin-top: 0cm; text-align: center;"><span style="font-size: 12.0pt;">2. Mục tiêu tổng quát</span></p>
</td>
</tr>
<tr>
<td style=" text-align: center;border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">2.1</span></p>
</td>
<td style="width: 100%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="3" >
<p style="text-indent: 0cm; tab-stops: 49.65pt; margin: 3.0pt 0cm 3.0pt 0cm;"><span style="font-size: 12.0pt; color: black;">Chương trình đào tạo chuyên ngành KHMT được xây dựng và triển khai nhằm mục tiêu đào tạo kỹ sư ngành KHMT có phẩm chất chính trị vững vàng, có ý thức tổ chức kỷ luật, đạo đức nghề nghiệp.</span></p>
</td>
</tr>
<tr>
<td style=" text-align: center;border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">2.2</span></p>
</td>
<td style="width: 100%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="3" >
<p style="text-indent: 0cm; tab-stops: 49.65pt; margin: 3.0pt 0cm 3.0pt 0cm;"><span style="font-size: 12.0pt; color: black;">Sinh viên được cung cấp kiến thức cơ bản về lĩnh vực CNTT, kiến thức chuyên sâu ngành KHMT, khả năng xây dựng mô hình và áp dụng vào thực tiễn xã hội.</span></p>
</td>
</tr>
<tr>
<td style="width: 100%; border: solid windowtext 1.0pt; border-top: none; background: silver; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="4" >
<p style="margin-top: 0cm; text-align: center;"><span style="font-size: 12.0pt;">3. Mục tiêu cụ thể</span></p>
</td>
</tr>
<tr>
<td style=" border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">3.1</span></p>
</td>
<td style="width: 100%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="3" >
<p style="text-indent: 0cm; tab-stops: 49.65pt; margin: 3.0pt 0cm 3.0pt 0cm;"><span style="font-size: 12.0pt;">Có kiến thức cơ bản trong lĩnh vực khoa học xã hội và khoa học tự nhiên để tiếp thu kiến thức giáo dục chuyên nghiệp và khả năng học tập nâng cao trình độ.</span></p>
</td>
</tr>
<tr>
<td style=" border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">3.2</span></p>
</td>
<td style="width: 100%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="3" >
<p style="text-indent: 0cm; tab-stops: 49.65pt; margin: 3.0pt 0cm 3.0pt 0cm;"><span style="font-size: 12.0pt;">Trang bị kiến thức cơ sở ngành về CNTT tạo tiền đề nghiên cứu về các lĩnh vực theo một trong các hướng chuyên sâu về kỹ thuật máy tính, an toàn bảo mật hệ thống, xử lý ảnh và đồ họa máy tính.</span></p>
</td>
</tr>
<tr>
<td style=" border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">3.3</span></p>
</td>
<td style="width: 100%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="3" >
<p style="text-indent: 0cm; tab-stops: 49.65pt; margin: 3.0pt 0cm 3.0pt 0cm;"><span style="font-size: 12.0pt;">Có khả năng tổng hợp, đánh giá, phân tích vấn đề thuộc kiến thức ngành nghề. Có khả năng trình bày và viết các báo cáo rõ ràng, chính xác. Có khả năng đọc hiểu và viết được tài liệu chuyên môn bằng tiếng Anh. Có khả năng sử dụng hiệu quả các công cụ và các công nghệ tiên tiến. Có khả năng thiết lập các mục tiêu khả thi, lập kế hoạch phù hợp với điều kiện thực tế, giải quyết các vấn đề liên quan đến lĩnh vực KHMT.</span></p>
</td>
</tr>
<tr>
<td style=" border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">3.4</span></p>
</td>
<td style="width: 100%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="3" >
<p style="text-indent: 0cm; tab-stops: 49.65pt; margin: 3.0pt 0cm 3.0pt 0cm;"><span style="font-size: 12.0pt;">Có khả năng làm việc </span><span style="font-size: 12.0pt;">chuyên môn độc lập, vận dụng linh hoạt kiến thức, kỹ năng và thái độ xử lý các tình huống nghề nghiệp. Có khả năng giao tiếp xã hội, làm việc hiệu quả trong nhóm. Có khả năng sử dụng các phương tiện trong lĩnh vực CNTT và truyền thông để trao đổi, quản lý, điều hành. Có khả năng tự học, tự nghiên cứu và tiếp thu các thành tựu khoa học kỹ thuật nhằm tự nâng cao trình độ và thích nghi với sự phát triển của xã hội.</span></p>
</td>
</tr>
<tr>
<td style="width: 100%; border: solid windowtext 1.0pt; border-top: none; background: silver; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="4" >
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span style="font-size: 12.0pt; font-family: 'Times New Roman'; color: black;">4. </span></strong><strong><span style="font-size: 12.0pt; font-family: 'Times New Roman';">Năng lực của sinh viên tốt nghiệp ngành Khoa học máy tính</span></strong></p>
</td>
</tr>
<tr style="height: 27.35pt;">
<td style=" border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 27.35pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">4.1</span></p>
</td>
<td style="width: 68.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 27.35pt;" width="91">
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">Về kiến thức</span></p>
</td>
<td style="width: 398.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 27.35pt;" colspan="2" width="531">
<p style="text-align: justify; text-indent: -15.75pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 21.85pt;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 12.0pt; font-family: 'Times New Roman';">Sinh viên nắm vững các kiến thức giáo dục đại cương về Lý luận chính trị, Khoa học tự nhiên, Khoa học xã hội – nhân văn.</span></p>
<p style="text-align: justify; text-indent: -15.75pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 21.85pt;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 12.0pt; font-family: 'Times New Roman';">Sinh viên được trang bị kiến thức nền trong ngành KHMT: kiến trúc máy tính, hệ điều hành, ngôn ngữ lập trình, cấu trúc dữ liệu và giải thuật,...</span></p>
<p style="text-align: justify; text-indent: -15.75pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 21.85pt;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 12.0pt; font-family: 'Times New Roman';">Sinh viên được nghiên cứu và thực hành các hướng chuyên sâu trong chuyên ngành KHMT thuộc lĩnh vực kỹ thuật máy tính, an toàn bảo mật hệ thống, xử lý ảnh và đồ họa máy tính.</span></p>
</td>
</tr>
<tr style="height: 50.95pt;">
<td style=" border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 50.95pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">4.2</span></p>
</td>
<td style="width: 68.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 50.95pt;" width="91">
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">Về kỹ năng</span></p>
</td>
<td style="width: 398.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 50.95pt;" colspan="2" width="531">
<p style="text-align: justify; text-indent: -15.75pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 21.85pt;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 12.0pt; font-family: 'Times New Roman';">Khả năng áp dụng các kiến thức CNTT phù hợp với ngành.</span></p>
<p style="text-align: justify; text-indent: -15.75pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 21.85pt;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 12.0pt; font-family: 'Times New Roman';">Khả năng phân tích vấn đề, xác định yêu cầu, tính toán giải pháp.</span></p>
<p style="text-align: justify; text-indent: -15.75pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 21.85pt;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 12.0pt; font-family: 'Times New Roman';">Khả năng thiết kế, hiện thực hóa và đánh giá một hệ thống dựa trên máy tính để đáp ứng các nhu cầu mong muốn.</span></p>
<p style="text-align: justify; text-indent: -15.75pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 21.85pt;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 12.0pt; font-family: 'Times New Roman';">Khả năng hoạt động hiệu quả khi làm việc độc lập hoặc theo nhóm.</span></p>
<p style="text-align: justify; text-indent: -15.75pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 21.85pt;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 12.0pt; font-family: 'Times New Roman';">Khả năng trình bày, kỹ năng chuẩn bị thuyết trình và thuyết trình trước đám đông. Khả năng giao tiếp hiệu quả, trình độ tiếng Anh tối thiểu TOEIC 450.</span></p>
</td>
</tr>
<tr style="height: 27.35pt;">
<td style=" border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 27.35pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">4.3</span></p>
</td>
<td style="width: 68.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 27.35pt;" width="91">
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">Đạo đức nghề nghiệp</span></p>
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">&nbsp;</span></p>
</td>
<td style="width: 398.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 27.35pt;" colspan="2" width="531">
<p style="text-align: justify; text-indent: -15.75pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 21.85pt;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 12.0pt; font-family: 'Times New Roman';">Đào tạo những kỹ sư có phẩm chất đạo đức, sức khoẻ tốt, ứng dụng tốt kiến thức chuyên ngành, phục vụ sự nghiệp xây dựng, sẵn sàng bảo vệ đất nước.</span></p>
<p style="text-align: justify; text-indent: -15.75pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 21.85pt;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 12.0pt; font-family: 'Times New Roman';">Trung thành với lý tưởng cách mạng; có động cơ thái độ làm việc, tác phong công nghiệp trong công tác</span></p>
<p style="text-align: justify; text-indent: -15.75pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 21.85pt;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 12.0pt; font-family: 'Times New Roman';">Có nhận thức tích cực về xã hội, có đạo đức nghề nghiệp tốt, tinh thần cầu tiến, phấn đấu vươn lên trong công tác.</span></p>
</td>
</tr>
<tr style="height: 17.2pt;">
<td style="width: 100%; border: solid windowtext 1.0pt; border-top: none; background: silver; padding: 0cm 5.4pt 0cm 5.4pt; height: 17.2pt;" colspan="4" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><strong><span style="font-size: 12.0pt; font-family: 'Times New Roman';">5. Các công việc/vị trí tiềm năng mà kỹ sư khoa học máy tính có thể đảm nhận</span></strong></p>
</td>
</tr>
<tr style="height: 17.65pt;">
<td style=" border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 17.65pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">5.1</span></p>
</td>
<td style="width: 100%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 17.65pt;" colspan="3" >
<p style="margin: 3.0pt 0cm 3.0pt 0cm;"><span style="font-size: 12.0pt;">Làm việc ở bộ phận CNTT hoặc cần ứng dụng CNTT của các đơn vị có nhu cầu (hành chính sự nghiệp, ngân hàng, viễn thông, hàng không, xây dựng…).</span></p>
</td>
</tr>
<tr style="height: 16.8pt;">
<td style=" border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 16.8pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">5.2</span></p>
</td>
<td style="width: 100%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 16.8pt;" colspan="3" >
<p style="margin: 3.0pt 0cm 3.0pt 0cm;"><span style="font-size: 12.0pt;">Nghiên cứu khoa học thuộc các lĩnh vực về CNTT ở các viện nghiên cứu, trường Đại học và Cao đẳng, tổ chức và cơ quan của các Bộ, Ngành…</span></p>
</td>
</tr>
<tr style="height: 16.8pt;">
<td style=" border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 16.8pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">5.3</span></p>
</td>
<td style="width: 100%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 16.8pt;" colspan="3" >
<p style="margin: 3.0pt 0cm 3.0pt 0cm;"><span style="font-size: 12.0pt;">Giảng dạy các môn liên quan đến CNTTtại các trường đại học, cao đẳng, trung học chuyên nghiệp, dạy nghề và các trường phổ thông theo quy định của Bộ Giáo dục và Đào tạo.</span></p>
</td>
</tr>
<tr style="height: 16.8pt;">
<td style=" border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 16.8pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">5.4</span></p>
</td>
<td style="width: 100%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 16.8pt;" colspan="3" >
<p style="margin: 3.0pt 0cm 3.0pt 0cm;"><span style="font-size: 12.0pt;">Chuyên viên phân tích, thiết kế, cài đặt, quản trị, bảo trì phần mềm, đáp ứng nhu cầu ứng dụng CNTT trong các cơ quan, công ty, trường học...</span></p>
</td>
</tr>
<tr style="height: 16.8pt;">
<td style=" border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 16.8pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-size: 12.0pt; font-family: 'Times New Roman';">5.5</span></p>
</td>
<td style="width: 100%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 16.8pt;" colspan="3" >
<p style="margin: 3.0pt 0cm 3.0pt 0cm;"><span style="font-size: 12.0pt;">Làm việc trong các công ty sản xuất, gia công phần mềm trong nước và nước ngoài. Làm việc tại các công ty tư vấn về đề xuất giải pháp, xây dựng và bảo trì các hệ thống thông tin</span></p>
</td>
</tr>
<tr>
<td style="border: none;" >&nbsp;</td>
<td style="border: none;" width="91">&nbsp;</td>
<td style="border: none;" width="91">&nbsp;</td>
<td style="border: none;" >&nbsp;</td>
</tr>
</tbody>
</table>                                                                            <p></p>
    </div>
</div>
</div>

</div>

</div>

</body>

</html>