<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIỚI THIỆU NGÀNH KỸ THUẬT PHẦN MỀM</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Load custom Javascript and CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/table.js"></script>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content-detail">
                    <h4>GIỚI THIỆU NGÀNH KỸ THUẬT PHẦN MỀM</h4>
                    <div class="main-content">
                        <p>
</p><p style="margin-bottom: .0001pt; text-align: center; line-height: normal; tab-stops: 18.0pt;"><strong><span style="font-family: 'Times New Roman';">&nbsp;</span></strong></p>
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal; tab-stops: 18.0pt;"><strong><span style="font-family: 'Times New Roman';">&nbsp;</span></strong></p>
<table style="width: 100%; margin-left: -4.5pt; border-collapse: collapse; border: none;" >
<tbody>
<tr>
<td style="width: 100%; border: solid windowtext 1.0pt; background: silver; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="5" >
<p style="margin-bottom: .0001pt; text-align: center; text-indent: 1.45pt; line-height: normal;"><strong><span style="font-family: 'Times New Roman';">1. Thông tin chung</span></strong></p>
</td>
</tr>
<tr>
<td style="text-align: center; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">1.1</span></p>
</td>
<td style="width: 135.9pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="2" >
<p style="text-indent: .45pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">Tên chương trình </span></p>
</td>
<td style="width: 330.6pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="2" >
<p style="text-indent: 1.7pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">KỸ THUẬT PHẦN MỀM</span></p>
</td>
</tr>
<tr>
<td style="text-align: center; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">1.2</span></p>
</td>
<td style="width: 135.9pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="2" >
<p style="text-indent: .45pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">Trình độ đào tạo</span></p>
</td>
<td style="width: 330.6pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="2" >
<p style="text-indent: 1.7pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">Đại học chính quy</span></p>
</td>
</tr>
<tr>
<td style="text-align: center; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">1.3</span></p>
</td>
<td style="width: 135.9pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="2" >
<p style="text-indent: .45pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">Thời gian đào tạo</span></p>
</td>
<td style="width: 330.6pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="2" >
<p style="text-indent: 1.7pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">4 năm </span></p>
</td>
</tr>
<tr>
<td style="text-align: center; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">1.4</span></p>
</td>
<td style="width: 135.9pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="2" >
<p style="text-indent: .45pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">Tổng số tín chỉ</span></p>
</td>
<td style="width: 330.6pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="2" >
<p style="text-indent: 1.7pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">146 tín chỉ (Lý thuyết: 97 tín chỉ; Thực hành, thực tế: 49 tín chỉ)</span></p>
</td>
</tr>
<tr>
<td style="text-align: center; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">1.5</span></p>
</td>
<td style="width: 135.9pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="2" >
<p style="text-indent: .45pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">Đơn vị quản lý</span></p>
</td>
<td style="width: 330.6pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="2" >
<p style="text-indent: 1.7pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">Khoa Công nghệ thông tin</span></p>
</td>
</tr>
<tr>
<td style="width: 100%; border: solid windowtext 1.0pt; border-top: none; background: silver; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="5" >
<p style="margin-top: 0cm; text-align: center;"><span style="font-size: 11.0pt;">2. Mục tiêu tổng quát</span></p>
</td>
</tr>
<tr>
<td style="text-align: center; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-indent: 0cm; tab-stops: 49.65pt;"><span style="font-size: 11.0pt; color: black;">&nbsp;</span></p>
<p style="text-indent: 0cm; tab-stops: 49.65pt;"><span style="font-size: 11.0pt; color: black;">2.1</span></p>
<p style="text-indent: 0cm; tab-stops: 49.65pt;"><span style="font-size: 11.0pt; color: black;">&nbsp;</span></p>
</td>
<td style="width: 466.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="4" >
<p style="margin-bottom: 6.0pt; text-indent: 0cm; tab-stops: 49.65pt;"><span style="font-size: 11.0pt; color: black;">Chương trình đào tạo chuyên ngành KTPM được xây dựng và triển khai nhằm mục tiêu đào tạo kỹ sư ngành KTPM có phẩm chất chính trị vững vàng, có ý thức tổ chức kỹ luật, đạo đức nghề nghiệp; nắm vững kiến thức cơ bản và chuyên sâu về KTPM, đáp ứng các yêu cầu về nghiên cứu phát triển và ứng dụng CNTT của xã hội.</span></p>
</td>
</tr>
<tr>
<td style="text-align: center; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-indent: 0cm; tab-stops: 49.65pt;"><span style="font-size: 11.0pt; color: black;">2.2</span></p>
</td>
<td style="width: 466.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="4" >
<p style="margin-bottom: 6.0pt; text-indent: 0cm; tab-stops: 49.65pt;"><span style="font-size: 11.0pt; color: black;">Sinh viên được cung cấp kiến thức cơ bản về tổ chức và quản lý, khả năng xây dựng mô hình và áp dụng các nguyên tắc của KTPM vào thực tiễn. Có năng lực xây dựng các dự án phần mềm, có khả năng tham mưu tư vấn và có khả năng tổ chức thực hiện nhiệm vụ trong phạm vi quyền hạn của một kỹ sư trong lĩnh vực KTPM.</span></p>
</td>
</tr>
<tr>
<td style="width: 495.45pt; border: solid windowtext 1.0pt; border-top: none; background: silver; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="4" >
<p style="margin-top: 0cm; text-align: center;"><span style="font-size: 11.0pt;">3. Mục tiêu cụ thể</span></p>
</td>
<td style="border: none; padding: 0cm 0cm 0cm 0cm;" width="1">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="text-align: center; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">3.1</span></p>
</td>
<td style="width: 466.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="3" >
<p style="margin-bottom: 6.0pt; text-indent: 0cm; tab-stops: 49.65pt;"><span style="font-size: 11.0pt; color: black;">Trang bị kiến thức cơ sở ngành về CNTT và truyền thông: kiến thức toán, tư duy logic về lập trình, cơ sở dữ liệu, kiến trúc máy tính, hệ điều hành, trí tuệ nhân tạo, mạng máy tính, quy trình phát triển phần mềm, kiến trúc cơ sở phần mềm; làm&nbsp;nền tảng triển khai các dự án phần mềm, tạo tiền đề cho nghiên cứu các lĩnh vực chuyên ngành và học tập nâng cao.</span></p>
</td>
<td style="border: none; padding: 0cm 0cm 0cm 0cm;" width="1">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="text-align: center; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">3.2</span></p>
</td>
<td style="width: 466.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="3" >
<p style="text-indent: 0cm; tab-stops: 49.65pt; margin: 4.0pt 0cm 4.0pt 0cm;"><span style="font-size: 11.0pt; color: black;">Hiểu và đào sâu kiến thức chuyên ngành đáp ứng được nhu cầu của xã hội về lĩnh vực KTPM.</span></p>
</td>
<td style="border: none; padding: 0cm 0cm 0cm 0cm;" width="1">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="text-align: center; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">3.3</span></p>
</td>
<td style="width: 466.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="3" >
<p style="margin-bottom: 6.0pt; text-indent: 0cm; tab-stops: 49.65pt;"><span style="font-size: 11.0pt; color: black;">Có khả năng thiết kế các hệ thống tính toán, các phần mềm có tính ứng dụng cao về ứng dụng và phát triển điện toán đám mây, lập trình nhúng và di động, xây dựng và phát triển phần mềm.</span></p>
</td>
<td style="border: none; padding: 0cm 0cm 0cm 0cm;" width="1">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="text-align: center; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">3.4</span></p>
</td>
<td style="width: 466.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="3" >
<p style="text-indent: 0cm; tab-stops: 49.65pt; margin: 4.0pt 0cm 4.0pt 0cm;"><span style="font-size: 11.0pt; color: black;">Khả năng phân tích, thiết kế, mô hình hóa, xây dựng, lập trình, vận hành các phần mềm chuyên dụng.</span></p>
</td>
<td style="border: none; padding: 0cm 0cm 0cm 0cm;" width="1">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="text-align: center; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-indent: 0cm; tab-stops: 49.65pt;"><span style="font-size: 11.0pt; color: black;">3.5</span></p>
</td>
<td style="width: 466.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="3" >
<p style="margin-bottom: 6.0pt; text-indent: 0cm; tab-stops: 49.65pt;"><span style="font-size: 11.0pt; color: black;">Thiết kế xây dựng và triển khai hệ quản trị nội dung số, các hệ thống thông tin trực tuyến trên web. Tổ chức thu thập, khai thác dữ liệu phục vụ các hoạt động quản lý, sản xuất, kinh doanh.</span></p>
</td>
<td style="border: none; padding: 0cm 0cm 0cm 0cm;" width="1">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="text-align: center; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-indent: 0cm; tab-stops: 49.65pt;"><span style="font-size: 11.0pt; color: black;">3.6</span></p>
</td>
<td style="width: 466.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="3" >
<p style="text-indent: 0cm; tab-stops: 49.65pt; margin: 4.0pt 0cm 4.0pt 0cm;"><span style="font-size: 11.0pt; color: black;">Có nhận thức đúng đắn về trách nhiệm, nghĩa vụ của cán bộ quản lý dự án CNTT.</span></p>
</td>
<td style="border: none; padding: 0cm 0cm 0cm 0cm;" width="1">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="text-align: center; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt;" >
<p style="text-indent: 0cm; tab-stops: 49.65pt;"><span style="font-size: 11.0pt; color: black;">3.7</span></p>
</td>
<td style="width: 466.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="3" >
<p style="margin-bottom: 6.0pt; text-indent: 0cm; tab-stops: 49.65pt;"><span style="font-size: 11.0pt; color: black;">Có kiến thức tốt về an toàn và bảo mật hệ thống thông tin, cơ sở hạ tầng phần mềm, tính kinh tế và phẩm mỹ trong thiết kế, tính bền vững trong vận hành lâu dài.</span></p>
</td>
<td style="border: none; padding: 0cm 0cm 0cm 0cm;" width="1">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="width: 495.45pt; border: solid windowtext 1.0pt; border-top: none; background: silver; padding: 0cm 5.4pt 0cm 5.4pt;" colspan="4" >
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span style="font-family: 'Times New Roman'; color: black;">4. </span></strong><strong><span style="font-family: 'Times New Roman';">Năng lực của sinh viên tốt nghiệp ngành KTPM</span></strong></p>
</td>
<td style="border: none; padding: 0cm 0cm 0cm 0cm;" width="1">
<p>&nbsp;</p>
</td>
</tr>
<tr style="height: 27.35pt;">
<td style="text-align: center; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 27.35pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">4.1</span></p>
</td>
<td style="width: 68.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 27.35pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">Về kiến thức</span></p>
</td>
<td style="width: 398.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 27.35pt;" colspan="2" >
<p style="text-align: justify; text-indent: -14.85pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.95pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Áp dụng các kiến thức cơ bản về toán, khoa học tự nhiên và cơ sở ngành KTPM và khả năng vận dụng vào chuyên ngành, nắm vững kiến thức KTPM và ứng dụng vào thực tiễn.</span></p>
<p style="text-align: justify; text-indent: -14.85pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.95pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Có khả năng thiết kế các hệ thống tính toán, các phần mềm có tính ứng dụng cao về ứng dụng và phát triển mã nguồn mở, lập trình nhúng, xây dựng và phát triển phần mềm.</span></p>
<p style="text-align: justify; text-indent: -14.85pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.95pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Có khả năng nhận biết, phân tích và giải quyết hiệu quả những vấn đề kỹ thuật trong lĩnh vực xây dựng và phát triển phần mềm.</span></p>
<p style="text-align: justify; text-indent: -14.85pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.95pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Có khả năng phân tích bài toán thực tế, từ đó đề xuất giải pháp và qui trình thực hiện qua các pha: thiết kế, phát triển, cài đặt, kiểm thử và xây dựng tài liệu, phối hợp với các kiến thức quản lý dự án và kinh tế công nghệ.</span></p>
<p style="text-align: justify; text-indent: -14.85pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.95pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Có khả năng khai thác sử dụng các phương pháp, công cụ hiện đại để thiết kế và đánh giá các hệ thống, sản phẩm, giải pháp kỹ thuật CNTT.</span></p>
<p style="text-align: justify; text-indent: -14.85pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.95pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Có khả năng tham mưu tư vấn và thực hiện nhiệm vụ với tư cách như là một chuyên viên trong lĩnh vực CNTT.</span></p>
<p style="text-align: justify; text-indent: -14.85pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.95pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Có khả năng phát triển các nghiên cứu liên ngành giữa CNTT và các ngành khoa học khác.</span></p>
<p style="text-align: justify; text-indent: -14.85pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.95pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Ứng dụng kiến thức khoa học xã hội - nhân văn, ngoại ngữ, chính trị, tư tưởng, văn hóa, văn bản lưu trữ, thể dục thể thao nhằm hỗ trợ toàn diện cho học viên kiến thức kỹ năng mềm, đồng thời tu dưỡng đạo đức chính trị, rèn luyện sức khỏe bản thân phát triển ngành nghề cũng như ý thức và trách nhiệm bảo vệ tổ quốc.</span></p>
</td>
<td style="border: none; padding: 0cm 0cm 0cm 0cm;" width="1">
<p>&nbsp;</p>
</td>
</tr>
<tr style="height: 50.95pt;">
<td style="text-align: center; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 50.95pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">4.2</span></p>
</td>
<td style="width: 68.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 50.95pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">Về kỹ năng</span></p>
</td>
<td style="width: 398.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 50.95pt;" colspan="2" >
<p style="text-align: justify; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><strong><span style="font-family: 'Times New Roman';">Kỹ năng cứng:</span></strong></p>
<p style="text-align: justify; text-indent: -14.85pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.95pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Có khả năng lập luận kỹ thuật và kỹ năng giải quyết vấn đề.</span></p>
<p style="text-align: justify; text-indent: -14.85pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.95pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Có thể thực hiện các thử nghiệm, nghiên cứu và khám phá kiến thức.</span></p>
<p style="text-align: justify; text-indent: -14.85pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.95pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Kỹ năng xác định, mô hình hóa và giải quyết các vấn đề trong hệ thống sản xuất cũng như dịch vụ với tầm nhìn hệ thống.</span></p>
<p style="text-align: justify; text-indent: -14.85pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.95pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Có khả năng tổng hợp, đánh giá, phân tích vấn đề.</span></p>
<p style="text-align: justify; text-indent: -14.85pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.95pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Có khả năng vận dụng các kiến thức, kỹ năng đã học vào thực tiễn.</span></p>
<p style="text-align: justify; text-indent: -14.85pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.95pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Kỹ năng tiếp thu và áp dụng kiến thức, kỹ thuật, công nghệ hiện đại.</span></p>
<p style="text-align: justify; text-indent: -14.85pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.95pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Kỹ năng nhận ra các nhu cầu và động lực để tham gia vào việc học tập suốt đời.</span></p>
<p style="text-align: justify; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><strong><span style="font-family: 'Times New Roman';">Kỹ năng mềm:</span></strong></p>
<p style="text-align: justify; text-indent: -14.85pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.95pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Có tư duy hệ thống và tư duy phân tích, có phương pháp làm việc khoa học, hiệu quả và chuyên nghiệp kể cả làm việc độc lập và làm việc theo nhóm</span></p>
<p style="text-align: justify; text-indent: -14.85pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.95pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Khả năng trình bày, kỹ năng chuẩn bị thuyết trình và thuyết trình trước đám đông. Khả năng giao tiếp và sử dụng các công cụ truyền thông trong giao tiếp.</span></p>
<p style="text-align: justify; text-indent: -14.85pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.95pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Sử dụng thành thạo ngoại ngữ trong giao tiếp.</span></p>
</td>
<td style="border: none; padding: 0cm 0cm 0cm 0cm;" width="1">
<p>&nbsp;</p>
</td>
</tr>
<tr style="height: 27.35pt;">
<td style="text-align: center; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 27.35pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">4.3</span></p>
</td>
<td style="width: 68.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 27.35pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">Đạo đức nghề nghiệp</span></p>
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">&nbsp;</span></p>
</td>
<td style="width: 398.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 27.35pt;" colspan="2" >
<p style="text-align: justify; text-indent: -14.85pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.95pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Đào tạo những kỹ sư có phẩm chất đạo đức tốt; có sức khoẻ tốt đảm bảo tham gia tốt các kiến thức chuyên ngành và bảo vệ đất nước.</span></p>
<p style="text-align: justify; text-indent: -14.85pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.95pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Có động cơ thái độ làm việc, công tác đúng đắn.</span></p>
<p style="text-align: justify; text-indent: -14.85pt; line-height: normal; margin: 2.0pt 0cm 2.0pt 20.95pt;"><span style="font-family: 'Times New Roman';">-<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-family: 'Times New Roman';">Có nhận thức, phương thức thiết kế, triển khai và vận hành hệ thống trong bối cảnh doanh nghiệp và xã hội. Tác phong công nghiệp trong công tác quản lý điều hành các doanh nghiệp, cơ quan quản lý Nhà nước và các tổ chức có liên quan.</span></p>
</td>
<td style="border: none; padding: 0cm 0cm 0cm 0cm;" width="1">
<p>&nbsp;</p>
</td>
</tr>
<tr style="height: 17.2pt;">
<td style="width: 495.45pt; border: solid windowtext 1.0pt; border-top: none; background: silver; padding: 0cm 5.4pt 0cm 5.4pt; height: 17.2pt;" colspan="4" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><strong><span style="font-family: 'Times New Roman';">5. Các công việc/vị trí tiềm năng mà kỹ sư KTPM có thể đảm nhận</span></strong></p>
</td>
<td style="border: none; padding: 0cm 0cm 0cm 0cm;" width="1">
<p>&nbsp;</p>
</td>
</tr>
<tr style="height: 17.65pt;">
<td style="text-align: center; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 17.65pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">5.1</span></p>
</td>
<td style="width: 466.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 17.65pt;" colspan="3" >
<p style="margin-bottom: 6.0pt; text-indent: 0cm; tab-stops: 49.65pt;"><span style="font-size: 11.0pt; color: black;">Lập trình viên, phát triển phần mềm, chuyên viên kiểm định và thử nghiệm phần mềm, chuyên viên lập dự án, lên kế hoạch, hoạch định chính sách phát triển phần mềm và các ứng dụng, phân tích, thiết kế, cài đặt, quản trị, bảo trì các phần mềm máy tính đáp ứng các ứng dụng khác nhau trong các cơ quan, công ty, trường học,...</span></p>
</td>
<td style="border: none; padding: 0cm 0cm 0cm 0cm;" width="1">
<p>&nbsp;</p>
</td>
</tr>
<tr style="height: 16.8pt;">
<td style="text-align: center; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 16.8pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">5.2</span></p>
</td>
<td style="width: 466.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 16.8pt;" colspan="3" >
<p style="margin-bottom: 6.0pt; text-indent: 0cm; tab-stops: 49.65pt;"><span style="font-size: 11.0pt; color: black;">Cán bộ nghiên cứu và ứng dụng CNTT ở các viện, trung tâm nghiên cứu và các trường đại học, cao đẳng. Giảng viên các môn liên quan đến KTPM tại các trường đại học, cao đẳng, trung học chuyên nghiệp...</span></p>
</td>
<td style="border: none; padding: 0cm 0cm 0cm 0cm;" width="1">
<p>&nbsp;</p>
</td>
</tr>
<tr style="height: 16.8pt;">
<td style="text-align: center; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 16.8pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">5.3</span></p>
</td>
<td style="width: 466.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 16.8pt;" colspan="3" >
<p style="margin-bottom: 6.0pt; text-indent: 0cm; tab-stops: 49.65pt;"><span style="font-size: 11.0pt; color: black;">Làm việc trong các công ty sản xuất, gia công phần mềm trong nước cũng như nước ngoài. Làm việc tại các công ty tư vấn về đề xuất giải pháp, xây dựng và bảo trì các hệ thống phần mềm hoặc làm việc tại bộ phận CNTT.</span></p>
</td>
<td style="border: none; padding: 0cm 0cm 0cm 0cm;" width="1">
<p>&nbsp;</p>
</td>
</tr>
<tr style="height: 16.8pt;">
<td style="text-align: center; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 16.8pt;" >
<p style="text-align: center; line-height: normal; margin: 2.0pt 0cm 2.0pt 0cm;"><span style="font-family: 'Times New Roman';">5.4</span></p>
</td>
<td style="width: 466.05pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt; height: 16.8pt;" colspan="3" >
<p style="margin-bottom: 6.0pt; text-indent: 0cm; tab-stops: 49.65pt;"><span style="font-size: 11.0pt; color: black;">Học thêm bằng đại học kỹ thuật thứ hai hoặc cao học KTPM, Khoa học Máy tính, CNTT, Hệ thống Thông tin, Truyền thông và Mạng máy tính…</span></p>
</td>
<td style="border: none; padding: 0cm 0cm 0cm 0cm;" width="1">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="border: none;" >&nbsp;</td>
<td style="border: none;" >&nbsp;</td>
<td style="border: none;" >&nbsp;</td>
<td style="border: none;" width="440">&nbsp;</td>
<td style="border: none;" width="1">&nbsp;</td>
</tr>
</tbody>
</table>                                                                            <p></p>
                    </div>
                </div>